---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Tarunsai Rayapureddi</h1>
			<p class="hero__text">
				I'm a freelance Full Stack Web developer & I love building and learning new things.
			</p>
			<Boton href="https://drive.google.com/uc?export=download&id=1FASXOUq4Nj_1fSNlB9ZQOOrp2tCjVCDC" texto="Download Resume"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Tarunsai"
		width="384"
    	height="384"
	/>
	</div>
</section>
