---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			As a Full-Stack Developer, my portfolio exemplifies a mastery in web development through a solid grasp of both front-end and back-end technologies. Proficient in <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Python</strong> and <strong>Tailwind CSS</strong>, I create visually appealing, responsive interfaces. Leveraging the power of <strong>React.js</strong> and <strong>Redux</strong>, I build dynamic and intuitive user experiences. On the server side, my expertise extends to <strong>Node.js</strong>, <strong>Express.js</strong>, and <strong>MongoDB</strong>, with a robust understanding of <strong>Mongoose</strong> for schema management. I'm adept at using <strong>GitHub</strong> for version control, ensuring collaborative and seamless code management.
		</p>
	</div>
</section>
