---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://i.postimg.cc/d1ghnyjx/pic.png"
			alt="Tarunsai_pic"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__text">
				Hello! I'm <strong>Tarunsai Rayapureddi</strong> graduated from <strong>Anil Neerukonda Institute of Technology and Sciences</strong>,<br/><br/>
				<strong>Freelance MERN developer</strong>, I bring a strong foundation in full-stack development, encompassing skills in MongoDB, Express.js, React.js, and Node.js. Proficient in HTML and CSS, with a strong problem-solving mindset and a collaborative approach. I'm equipped to build modern web applications from the ground up, with the ability to manage both frontend and backend development. My experience with JavaScript, combined with my understanding of the MERN stack, allows me to create responsive, dynamic, and efficient web applications. While I'm still early in my career, my eagerness to learn, adapt, and apply new technologies makes me a valuable asset to any team, ready to take on challenges and grow my expertise in the field.<br/><br/>
				- <strong>B.Tech in Electrical and Electronics Engineering (Majors)</strong><br/>
				- <strong>B.Tech in Artificial Intelligence (Minors)</strong>
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
