---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Page Not Found">
        <h1 class="text-xl">Page Not Found</h1>
        <Boton texto="Home" href="/"/>
</Layout>